.h-bg-cover {
    background-size: cover;
    background-position: center;
}

.h-text-yellow {
    color: #FFD366;
}

.h-scale {
    transition: all .5s;
    &:hover {
        transform: scale(1.25);
    }
}

@media(min-width:576px){
    .h-w-sm-50 {
        width: 50%!important;
    }
}

@media(min-width:992px){
    .h-lg-rounded {
        border-radius: 5px;
    }
}
